node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/chain-545
ignition/deployments/chain-296
ignition/deployments/chain-5000

frontend/node_modules
frontend/dist

*.DS_Store